node_modules/
bun.lock

# Bluetooth data
bluetooth/tags.json
bluetooth/device-names.json

# Dashboard data
dashboard/kiosk-history.json
dashboard/kiosk-favourites.json

# Dolphin data
dolphin/play-history.json
dolphin/dolphin-profiles.json
dolphin/dolphin-prev-settings.json
dolphin/dolphin-hotplug.json
dolphin/data/gamecube/roms/
dolphin/data/wii/roms/

# Virtual Pad data
virtual-pad/virtual-pad-config.json

# SpaghettiKart data
spaghetti-kart/sk-profiles.json
spaghetti-kart/sk-prev-settings.json

# Compiled binaries
dashboard/uinput-mouse
virtual-pad/uinput-gamepad
device-names.json

# Dolphin runtime/save data
dolphin/data/Wii/
dolphin/data/GC/
dolphin/data/Config/TimePlayed.ini
dolphin/data/Config/btdinf.bak
